.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .center-cell {
    text-align: center;
  }
  .odd-row {
    background-color: #dddddd;
  }
  
  .even-row {
    background-color: #ffffff;
  }
