<div class="table-container">
  <nz-table #dataTable [nzData]="products" [nzPageSize]="10">
    <thead>
      <tr>
        <th nzWidth="250px">Title</th>
        <th nzWidth="250px">Category</th>
        <th nzWidth="250px">Price</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of dataTable.data; let i = index">
        <tr [class.odd-row]="i % 2 === 0" [class.even-row]="i % 2 !== 0">
          <td class="center-cell">{{ product.title }}</td>
          <td class="center-cell">{{ product.category }}</td>
          <td class="center-cell">{{ product.price }}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  
</div>