.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;

}

th,
td {
  width: 250px;
  height: 50px;
}

.center-cell {
  text-align: center;
}

.odd-row {
  background-color: #dddddd;
}

.even-row {
  background-color: #ffffff;
}
